

<html>
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <title>新建网页 1</title>
    <!--<link type="text/css" rel="stylesheet" href="../layout.css" />-->
    <!--<script type="text/javascript" src="../png.js"></script>-->
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <script language="javascript" src="../skin1.js"></script>
    <script type="text/javascript" src="../zczy/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var ifh = window.parent.$('#center-tab').height() - window.parent.$('#center-tab').find(".om-tabs-headers").outerHeight() - 2;
            $('.mx').click(function() {
                var url=$(this).attr('href');
                var bh=$(this).attr('id');
                var va;
                //va=$(this).text();
                va=$(this).attr('title');
                //alert($(this).get(0).tagName);
                $(this).attr('href','show_icons.jsp?bh=A001CN01');
                var tabId = window.parent.$('#center-tab').omTabs('getAlter', 'tab_'+bh);
                if(tabId){
                    //tabElement.omTabs('activate', tabId);
                    window.parent.$('#center-tab').omTabs('close', tabId);
                    window.parent.$('#center-tab').omTabs('add',{
                        title : va,//nodeData.text,
                        tabId : 'tab_'+bh,//'tab_'+nodeData.id,
                        content : "<iframe id='"+bh+"' border=0 frameBorder='no' name='inner-frame' src='"+url+"' height='"+ifh+"' width='100%'></iframe>",
                        closable : true
                    });
                }else{
                    window.parent.$('#center-tab').omTabs('add',{
                        title : va,//nodeData.text,
                        tabId : 'tab_'+bh,//'tab_'+nodeData.id,
                        content : "<iframe id='"+bh+"' border=0 frameBorder='no' name='inner-frame' src='"+url+"' height='"+ifh+"' width='100%'></iframe>",
                        closable : true
                    });
                }

            });
        });
    </script>

</head>
<body class="body1">
<div align="center" style="padding-top:0px; margin-top:0px">
    <table border="0" width="100%">
        <tr>
            <td align="left"></td>
        </tr>
    </table>
    <table border="0" width="700" id="table1">
        <tr>
            <td colspan="5" height="24" align="center"><font class="title1">系统初始化</font></td>
        </tr>

        <tr>
            <td width="140" align="center" height="134"><font size="2"><a class="mx" id="A001CN0101" title="系统选项参数" href="../init/option.jsp" target="_self"><img src="../boximages/Control_Panel.png" border="0" width="64" height="64"></a><br><a class="mx" id="A001CN0101" title="系统选项参数" href="../init/option.jsp" target="_self">系统选项参数</a></font></td>


            <td width="140" align="center" height="134"><font size="2"><a class="mx" id="A001CN0105" title="会计科目设置" href="../init/account_hzs.htm" target="_self"><img src="../boximages/account.png" border="0" width="64" height="64"></a><br><a class="mx" id="A001CN0105" title="会计科目设置" href="../init/account_hzs.htm" target="_self">会计科目设置</a></font></td>


            <td width="140" align="center" height="134"><font size="2"><a class="mx" id="A001CN0109" title="取消初始化" href="../init/cancel_init.htm" target="_self"><img src="../boximages/cancel_init.png" border="0" width="64" height="64"></a><br><a class="mx" id="A001CN0109" title="取消初始化" href="../init/cancel_init.htm" target="_self">取消初始化</a></font></td>


            <td width="140" align="center" height="134"><font size="2">　</font></td>


            <td width="140" align="center" height="134"><font size="2">　</font></td>
            </br>


        <tr>
            <td width="140" align="center">　</td>
            <td width="140" align="center">　</td>
            <td width="140" align="center">　</td>
            <td width="140" align="center">　</td>
            <td width="141" align="center">　</td>
        </tr>

        <tr>
            <td width="691" align="center" colspan="5">　<table border="0" width="100%" height="157" id="table2" class="bottable">
                <tr>
                    <td width="40%">
                        <p align="right"></td>
                    <td valign="middle">　　</td>
                </tr>
                <tr>
                    <td width="40%">　</td>
                    <td>　</td>
                </tr>
            </table>
            </td>
        </tr>
    </table>
</div>

 
</body>

</html>